@tailwind base;
@tailwind components;
@tailwind utilities;

/* On ajoute juste ça pour être sûr d'avoir un fond sombre partout */
body {
    background-color: #0a192f;
    color: white;
}

html {
    scroll-behavior: smooth;
}

svg {
    display: block;
    vertical-align: middle;
}