@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a192f;
    color: white;
    scroll-behavior: smooth;
}

svg {
    display: block;
    vertical-align: middle;
}