@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a192f;
    color: white;
    /* Pour un scroll plus fluide si tu utilises des liens d'ancrage */
    scroll-behavior: smooth;
}

/* AJOUT INDISPENSABLE POUR TON CADRE CONTACT */
svg {
    display: block;
    vertical-align: middle;
}